[2015-03-15 19:02] zyzo opened #1 "Broken url to generator"
I wanted to find links to the generator but the link I found seems to be outdated. Or is it just the server config ? Anw the link just redirects to FOSSASIA github page :
      http://fossasia.net/api/generator/index.html

Here are where I found it :
       http://blog.fossasia.org/tags/fossasia-api
       http://www.google-melange.com/gci/task/view/google/gci2014/5830616041914368
       http://go

[2015-03-25 13:49] ty221 commented on #1
Yes, unfortunately, you're right - this link doesn't work anymore. @andibraeu has changed location of our API, I do not have access to its server, so I can't investigate this matter. I am sure @andibraeu or @mariobehling can help us in this case and fix broken urls in articles.

[2015-03-25 15:03] andibraeu commented on #1
It's there now: http://api.fossasia.org/generator

Sorry, forgot to change it in the blog post. Could you please do it?

[2015-03-26 13:55] ty221 commented on #1
@andibraeu I've changed this in the blog post. Can't work on Melange tasks. I think, we can close this bug now. @zyzo thanks for reporting!

[2015-03-27 19:29] #1 closed

[2015-05-07 21:51] andibraeu opened #4 "generator: libraries should be local"
please add js and css files to the repo, e.g. leaflet will be loaded from cdn instead of the web server

[2015-05-07 21:53] andibraeu opened #5 "generator: move configurable options to separate config file"
please extract configurable options (e.g. API version, map center) to an extra file, to simplify installation.

[2015-05-07 21:57] andibraeu opened #6 "Investigate the ICS file format"
* How is it defined?
* How do common clients deal with it?
* How do servers or services create ICS files?
* Are there known problems with some ICS files from certain services? (hint: Outlook/Exchange, Google Calendar, Apple products)

[2015-05-08 17:44] andibraeu opened #7 "Introducing scrum"
@zyzo Please document what different scrum questions and varieties exist

[2015-05-11 16:40] zyzo commented on #7
Hi @andibraeu,

   From what I found scrum method is best suited for team of 5 members  at least. What would be the difference in our case ? For instance, who is the Scrum Master, the Product Owner and the team ? Does it even matter ?

   What fundamentally change, others than daily logs and task-based development? I'm excited to see this in practice. Do we use any kind of scrum tools?

[2015-05-11 16:44] mariobehling commented on #7
Hi @zyzo We are not able to stay with a strict scrum. It is not the goal to train everyone in detail as a scrum master now, but we would like to understand the progress and questions apart from checking on the issues. Please start to answer the three scrum questions every day and send an email to Andi and me. What version of scrum questions do you propose?

[2015-05-11 17:46] zyzo commented on #7
@mariobehling Oh, I think I misunderstand Andi's questions at first. About the 3 scrums questions, I can't have better propositions than the basics :

 1. What did you do yesterday?
 2. What will you do today?
 3. What obstacle did you find in your way?

I don't have any scrum varieties in mind. With a small-scope project like this, I think fast and good communication, frequent delivery, feedbacks

[2015-05-12 00:49] mariobehling commented on #7
@zyzo Sounds good. Could you start to send us a scum report everyday from now on, please? Please do it at the same time everyday by email. We can switch from time to time to chat as well and as we have more team members we can invite them to this chat.

[2015-05-16 12:33] mariobehling opened #8 "Postgres vs. JSON schema"

[2015-05-16 13:09] zyzo commented on #8
@andibraeu the idea was to save in the database to be able to query/update later. I thought about mongodb at first, but apparently postgre supports json schema now. Anyway, any db that allows flexible schema will do the trick.

[2015-05-18 10:18] andibraeu commented on #8
In my optinion we don't need a persitant data store for ics feeds.

The resulting mixed ics feed should be generated from API feeds when we call it. We can maybe cache ics files of communities, in case of an error on their files.

So the intermediate format could be some json for every community (like the summary json from the collector)

Based on that summary json file we can generate a common IC

[2015-05-18 13:13] zyzo commented on #8
I think it's a question of performance. How much faster querying and filtering in db faster than in js/php ? It it worth the effort ? The data size matters a lot in situations like this. If we want to keep things simple and flexible, we can just use a ics file that combine all relevant data (like ffGeoJson.json)  . But if the plan is to anticipate lot of event traffic (that might span across sever

[2015-05-19 11:49] andibraeu commented on #8
In general the generated ICS file should only have events from "now" to a given period of time.

But you're right, we should not create the file on download, but we can create it with a cron script. That script will query all ICS feeds from fossasia API or freifunk API and then generates the result.

Keep it simple! :-)

There won't be that much traffic on events, I think most time we need is to g

[2015-05-19 11:52] andibraeu opened #9 "what kind of frontend do we need for a ics parser and merger"
Let's collect ideas. please describe how they could look like

* simple ICS file
* ICS file filtered by categories
* next x events of all communities as HTML list

[2015-05-19 16:31] #7 closed

[2015-05-19 16:33] mariobehling opened #10 "Which features do we want to implement? Which ones can be part of the summer project?"
Please list features to be implemented here.

[2015-05-19 23:39] zyzo commented on #10
List of features in chronological order in my summer project :

* **Calendar service** :
     * ics feeds collector & aggregator,
     * community event calendar & community news panel.
* **Community map enhancement** :
    * filter by country / technical areas.
    * (using calendar service) add info about latest/upcoming event/news on the map marker for each community.
* **Statistic service** :

[2015-05-19 23:56] zyzo commented on #9
I propose a community news panel that shows latest/upcoming events, like twitter embed timeline. We could also serve the mixed ICS via an API endpoint, with filters like :
* category
* country
* since
* until
* recurrent
* limit
..

I'm not sure of the use case of the rest, but category, since and until are useful to implement the community news panel mentioned above.

[2015-05-21 07:41] andibraeu commented on #10
That sounds good!

We should have a chat about our repo structure these days. There are several repos for our API, because it's just a collection of tools. We should talk, where you can submit code for your extensions. Then you can begin to commit regularly (daily).

We can also ask @mojoaxel He already did some work on visualizations for the Freifunk API.

[2015-05-22 15:32] zyzo commented on #10
For ics merger script (#8), there is [feed.api.fossasia.net](fossasia/api.fossasia.net) which already contains a rss merger. Should we put it there ? By the way, shoud  we combine `feed.api.fossasia.net`  and other api-related services to `api.fossasia.net` ?

For others tasks the code destination really depend, Some could go to `fossasia.github.io`. For such tasks I can work on another branch and

[2015-05-22 19:43] mojoaxel commented on #10
@zyzo You can find my (very early) experiments here: https://github.com/mojoaxel/status.freifunk.net

[2015-05-22 23:04] andibraeu commented on #10
Am Freitag, den 22.05.2015, 08:33 -0700 schrieb DANG HAI AN:

no, when we began with freifunk API we decided to separate
repositories:

api.fossasia.net: for specs and generator
directory.api.fossasia.net: the directory
common.api.fossasia.net: tools like the collector and other
contributions. here you could add the ics merger
feed.api.fossasia.net: rss feed aggregator
cmap.api.fossasia.net: commu

[2015-05-23 09:25] mariobehling opened #11 "Create Milestones and add features in each milestone"
For Features List refer to https://github.com/fossasia/api.fossasia.net/issues/10

Milestone 1
Due by June 10, 2015

Milestone 2
Due by June 26, 2015

Milestone 3
Due by July 25, 2015

Milestone 4
Due by August 21, 2015

[2015-05-24 22:55] zyzo commented on #10
@mojoaxel Looks nice, thanks for sharing ! Do you have any further plan with this ?

@andibraeu Should I put my experimental work on a fossasia repo ? For instance I'm writing a ics parser/merger debugging tool that I want to share.

[2015-05-24 23:27] zyzo commented on #11
Do the milestones have to be the same ? Based on my project proposal :

**Milestone 0 : API generator addition** - May 31
(already done)

**Milestone 1: Calendar service** - June 21

* ics parser & merger
* Calendar API
* community event calendar & community news panel.

**Milestone 2 : Community map enhancement** - July 5

* filter by country / technical areas.
* (using calendar service) add info

[2015-05-25 01:18] mariobehling commented on #10
@zyzo please add new features into a separate branch until they reach a stable stage.

[2015-05-25 01:32] mariobehling commented on #11
@zyzo Thank you. As we are now in the coding stage, we would like to see more details and info on technologies. Your proposal was good to show us you put thoughts into the project, but we are now in the project. A few more points for example.
* I would like to see more features implemented. At the moment especially milestones 3 and 4 seem a bit modest. API documentation is not a milestones.
* Docu

[2015-05-25 01:45] mariobehling commented on #10
@zyzo Looking over your list again, it seems that most of the items come as a requirement of the project. Also, andi added idea. Apart from that documentation is not a feature.

Let's get to the next stage and show us, what cool ideas you can come up with as well. E.g how about integration of a community twitter map with loklak? It's just an example, but it would be awesome to see some more ambiti

[2015-05-25 09:16] zyzo commented on #10
Can I have access to other repos to start branching ? For instance, for the calendar task `common.api.fossasia.net` and the map task `cmap.api.fossasia.net`.

[2015-05-25 09:31] mariobehling commented on #10
done. Please also continue to outline more details for your project here https://github.com/fossasia/api.fossasia.net/issues/11and create an issue for each task you are working on.

[2015-05-25 10:29] zyzo opened #13 "Ics parser & merger"
Create an ics tool to parse & combine Icalendar feeds, provided by communities. Some initiatives can be found here https://github.com/fossasia/common.api.fossasia.net/tree/ical-merger

[2015-05-25 11:34] andibraeu commented on #11
@zyzo can you please add your tasks to the milestones page? https://github.com/fossasia/api.fossasia.net/milestones

[2015-05-25 15:28] zyzo commented on #10
These are some ideas that came up :

* community subscription chart : a line chart showing the total number of  subscribed communities (communities added to [directory.json](https://github.com/fossasia/directory.api.fossasia.net/blob/master/directory.json)) on each time period. The new factor here is time and this information could be retrieved from git commit  history.

* FOSSASIA API originated

[2015-05-25 15:36] zyzo commented on #11
@andibraeu the milestones are updated :) .
@mariobehling
The vision I had for API documentation is to build a complete webapp, not just some texts and screenshots. I think it's also very important for the user/community to understand thoroughly our work.

I know that API testing is a continuous part but milestone 4 could be dedicated to add more testing as well.

About new projects ideas, I added

[2015-05-25 20:09] zyzo commented on #10
Another idea : active contribution line chart **per each community**. The chart show contributions count of the community on each time period. The contributions count is the sum of their facebook post, twitter tweets, ics events... and other relevant activities.

[2015-05-25 20:13] zyzo commented on #13
A demo of the ics debugger tool http://fossasia-api.herokuapp.com/
Follow up [blog post](http://zyzo.github.io/gsoc/fossasia/2015/05/25/fossasia-api-calendar-service.html).

[2015-05-25 20:17] zyzo commented on #6
On ics format problem : DTSTART, DTEND, DTSTAMP properties use ICalendar Date-Time property format, which can take 3 forms :

     DTSTART:19970714T133000  ; Local time
     DTSTART:19970714T173000Z ; UTC time
     DTSTART;TZID=America/New_York:19970714T133000 ; Local time and time zone reference

[One example outlook file](https://github.com/zyzo/ics-tools/blob/master/data/outlook_1.ics#L25) has

[2015-05-26 12:55] zyzo commented on #13
Existing problems / TODO for [ics merger](https://github.com/fossasia/common.api.fossasia.net/blob/ical-merger/ics-collector/debugger/lib/ics-merger.php) :
* decide what to put on some common "header" fields, for e.g. [PRODID] (https://tools.ietf.org/html/rfc5545#section-3.7.3). The logical thing might be somethiing nonstandard like `-//FOSSASIA//FOSSASIA Calendar//EN`
* detect redundant events. T

[2015-05-26 14:13] andibraeu commented on #13
Am Dienstag, den 26.05.2015, 05:55 -0700 schrieb DANG HAI AN:

it was great if you can make such things configurable via config file
      * > detect redundant events. This happens mainly when a same file is added twice as merger input.
my suggestion is to first collect all links from (FOSSASIA|Freifunk)
API and then remove duplicate links
      * > synchronized merge for ics files with different

[2015-05-26 15:07] zyzo commented on #10
@andibraeu @mariobehling What are your thoughts on this ? Is any of these ideas good or I'll keep looking ?

[2015-05-26 15:23] zyzo commented on #13
Thanks for good advice ! I'll try something out.

[2015-05-27 11:19] zyzo commented on #13
Debugging option for merger added on http://fossasia-api.herokuapp.com/
![alt text](http://etud.insa-toulouse.fr/~hadang/img/img.png "Logo Title Text 1")

[2015-05-28 06:40] #4 closed

[2015-05-28 09:51] zyzo commented on #13
Added [support](https://github.com/fossasia/common.api.fossasia.net/tree/ical-merger/ics-collector/debugger) for different timezone. The strategy is as follow :

1. The default timezone is configurable via ics-merger-config.ini
2. Only look for local time to convert (cf. #6) :
    * if the local time is provided with timezone reference, convert from that timezone to default timezone
    * if not,

[2015-05-29 12:07] #5 closed

[2015-05-29 18:23] mariobehling commented on #11
@zyzo Please generate issues based on this list and add each issue into a milestone.

[2015-05-29 20:25] zyzo opened #17 "Calendar API"
An ICalendar webservice with support for query parameters

[2015-05-29 20:26] zyzo opened #18 "Community timeline"
A timeline panel that shows latest and incoming events on the calendar provided by communities

[2015-05-29 20:28] zyzo opened #19 "Community map filters"
Add filters by country/technical area to community map https://github.com/fossasia/cmap.api.fossasia.net

[2015-05-29 20:29] zyzo opened #20 "Add more infos to community map popup"
Integrate calendar service with the community map by adding community latest/upcoming event on the map marker

[2015-05-29 20:31] zyzo opened #21 "Statistics API"
Webservice with support for queries of relevant information about the FOSSASIA community directory & visualization display of these information. Some candidates are :
* number of registered communities
* percentage of communities per countries (pie chart)
* percentage of communities per tech area (also pie chart)
* community active period panel (like the one in github), based on news and events.
*

[2015-05-29 20:33] zyzo opened #22 "API documentation webapp"
A webapp that shows demo & tutorial about all FOSSASIA API services

[2015-05-29 22:13] mariobehling commented on #20
Integrating a calendar, we could also think of integrating complete events in the re-data format (https://github.com/opendatacity/re-data) and services like open-event (https://github.com/fossasia/open-event).

[2015-05-29 22:20] mariobehling commented on #21
Are these two things a) an API and b) a Web Service?

Could we integrate use loklak here as a service for tweet analysis as well? First implementations are with AdminLTE theme. Please compare https://github.com/loklak/loklak_webclient/issues/88

[2015-05-30 07:40] zyzo commented on #17
Proposed architecture ![Calendar API architecture](http://etud.insa-toulouse.fr/~hadang/img/CalendarAPI.jpg)

I want to point out some details about this :
* There are two parts in the architecture : a periodic job to retrieve & update merged ics file, and an API endpoint for users to query. (the user will be mostly us #18 #19)
* The calendar API operates with plain ics files as backend. In the fr

[2015-05-31 11:09] zyzo commented on #21
I meant the same thing. What does integration with loklak could look like ? Do you mean create a tweet analysis per each community ?

[2015-05-31 13:55] mariobehling commented on #21
@zyzo let's wait until the next milestone with loklak to understand more about the opportunities here.

[2015-06-01 11:35] andibraeu commented on #20
you can also display the latest blog posts from their rss feeds

[2015-06-01 20:54] andibraeu commented on #9
sounds good!

How can we see which community the event belongs to? Does the merge set a category or something like this?

[2015-06-01 20:58] andibraeu commented on #17
do you have a data format for json and xml events? at the moment I don't understand who will use xml and json?

[2015-06-01 21:04] zyzo commented on #9
@andibraeu  I don't know if there is a defined ics field for this, but we could always use custom field starting with `X-` to specify event source. I remark that the key of each document in ffSummarizedDir.json https://freifunk.net/map/ffSummarizedDir.json seems like community name. Could we use those keys as unique community identifiers ?

[2015-06-01 21:11] andibraeu commented on #9
yes, those are unique identifiers

[2015-06-01 21:16] zyzo commented on #17
not really, there is http://microformats.org/wiki/hcalendar for extracting ics infos from html, but we're doing the other way around.

I just find that having json as a file type option will make it mucg easier to work with js calendar libraries. As a plus, the data won't have to be parsed again.

Of course if the user just want ics feeds to import into their calendar plugins it is possible too.

[2015-06-01 21:18] zyzo commented on #9
Perfect. For the community news panel, do you have any reference for the calendar library ? I'm comparing solutions.

[2015-06-01 21:27] #8 closed

[2015-06-04 12:21] zyzo opened #23 "Calendar API : 'from' and 'to' parameters"
`From` : return only events happening after 'from' parameter value.
`To` : return only events happening before `to` parameter value.

There are some technical choices that could be discussed :

* The format of parameter value. What is done right now is the API only accepts parameter with format `YYYY-MM-DD`. The time value (hour, minute) is not compared.
* The ics event's property to compare to. A

[2015-06-04 12:28] zyzo opened #24 "Calendar API : 'source' parameter"
Return only events from specified community

What is done right now :

* `source` is a required parameter. If not specified, the API will return an error
* If `source=all`, events from all communities will be returned.
* Multiple sources support.  For e.g :
[code]
will return events from those 3 communities.

[2015-06-04 12:36] zyzo opened #25 "Deploy Calendar API"
Is this possible to have a public url to points to [common.api.fossasia.net/ics-collector/CalendarAPI.php](https://github.com/fossasia/common.api.fossasia.net/blob/dev/ics-collector/CalendarAPI.php) ?

[2015-06-04 12:37] zyzo opened #26 "Calendar API Testing"
A stategy to test (& automate tests of) Calendar API, with sample data and expected results

[2015-06-04 12:50] zyzo opened #27 "Calendar API documentation"
Stating with a simple `API.md` file to document API specification
Could be useful after for #22

[2015-06-05 07:16] andibraeu commented on #25
there you go: http://api.fossasia.net/ics-collector/CalendarAPI.php

[2015-06-05 07:16] andibraeu commented on #25
please tell me if you need an update there. ATM it's on dev branch

[2015-06-05 11:08] zyzo opened #28 "Communities timeline filters"
The idea is : in the community timeline [#18](https://github.com/fossasia/api.fossasia.net/issues/18), the user could refine some options to display limited set of events. For e.g, filter the events be by community or by datetime.

This could be implemented via a small button embedded in the timeline that will open a popup panel, with options to modify.

[2015-06-05 11:16] zyzo commented on #25
Thanks !

[2015-06-06 11:08] zyzo opened #29 "Community timeline as a library"
The idea is to have a clean interface, maybe a jquery extension, to allow users to embed the timeline easily in their page :

[code]

[2015-06-08 10:49] zyzo commented on #29
What options should we have ? I'm thinking :
   - `source` (community)
   - `from`, `to` to limit initially displayed events  (the default of to will be `today`. Older/newer events could be lazy loaded using ajax)
   - css styles that can't be customized, like `height`

[2015-06-09 06:55] zyzo commented on #25
@andibraeu could you make an update of dev ? I added the missing merged ics file without what the API won't return results

[2015-06-09 07:21] andibraeu commented on #11
Done so far, I think @zyzo will do a breakdown on each milestone. Works great for Milestone 1

[2015-06-09 07:21] #11 closed

[2015-06-09 07:22] andibraeu commented on #6
Done

[2015-06-09 07:22] #6 closed

[2015-06-09 07:25] andibraeu commented on #25
I made an update

What about the ICS merger? Should I install a cron job to let it run i.e. once per hour? Do you have docs how to do that?

[2015-06-09 07:25] andibraeu commented on #25
then we don't need to update a file on github

[2015-06-09 07:35] zyzo commented on #25
I'll commit the updater script to run

[2015-06-09 10:38] zyzo commented on #25
@andibraeu  The updater file can be found here https://github.com/fossasia/common.api.fossasia.net/blob/dev/ics-collector/lib/ics-updater.php. It requires a valid url to ics-collector.php script.

Currently I specify the url to the ics-collector of FOSSASIA (http://api.fossasia.net/ics-collector/ics-collector.php) which doesn't return a lot of results. Seems like the ffSummarizedDir.json is missin

[2015-06-09 11:11] zyzo opened #30 "Timeline scrollbar problem"
The scrollbar on the right of community timeline (implemented using http://manos.malihu.gr/jquery-custom-content-scroller/) does not inspect the height correctly in case of overflow.

When scrolling to the bottom of the timeline, some events are still hidden and cannot be seen.

[2015-06-09 21:15] andibraeu commented on #25
can you please make the the url  to the ffSummarizedDir configurable? For freifunk and fossasia we also have cronjobs running, creating the summarized dir

[2015-06-09 21:26] andibraeu commented on #25
a complete freifunk summary you'll find here: http://freifunk.net/map/ffSummarizedDir.json

[2015-06-09 21:27] andibraeu commented on #25
at the moment the merger and updater is configured to use the fossasia summary, but there are as you know only 3  communites

[2015-06-09 21:35] zyzo commented on #25
There is already a variable for this I think , at the [beginning](can you please make the the url to the ffSummarizedDir configurable? For freifunk and fossasia we also have cronjobs running, creating the summarized dir) of ics-collector.php :
[code]

Yeah the updater points to fossasia ics-collector. This could be configured by a constant :
[code]

Maybe we could use relative url to limit the num

[2015-06-09 22:47] andibraeu commented on #25
Am Dienstag, den 09.06.2015, 14:35 -0700 schrieb DANG HAI AN:

my idea was to have an external config file as we did for the api
generator, too.
At the end we'll use these tools on several servers and APIs, and we
don't want people to have to edit source code :-)

[2015-06-09 22:59] zyzo opened #31 "Calendar API : 'fields' parameter"
An optional parameter that can have multiple values : start, end, source, summary, description, geolocation.. separated by commas. It is used to specify which event property should be returned in the result (json mode only).

When `fields` is not specified, some event properties are included by default (start, end, summary, description, location).

Examples :

*CalendarAPI.php?source=mainz*
[code]

[2015-06-10 07:38] zyzo commented on #25
I made the links to `ics-collector.php` and `ffSummarizedDir.json` configurable via `api-config.ini`. A single config file is better I think.

[2015-06-10 09:15] zyzo opened #32 "Calendar API : 'limit' parameter"
An integer paramter to limit the number of returned results

[2015-06-10 09:42] zyzo opened #33 "Calendar API : 'sort' parameter"
Return result in a sorted order.

[2015-06-10 09:49] andibraeu opened #34 "Calendar API: Filter Start date"
Wht do you think?
Is it better to return only events starting at or after the time of your query? I'd like this more.

Optional we can set a start date to also gather events from the past.

[2015-06-10 10:24] zyzo commented on #23
Now `from` and `to` can also take mixed datetime value, for e.g :
[code]

[2015-06-10 10:24] #30 closed

[2015-06-10 10:36] zyzo commented on #34
@andibraeu what I did to filter events by date time was having two parameters `from` and `to` to limit events by property `DTSTART`. I think it's flexible and up to the users to choose how to use them.

For e.g we can just set `from` to the current time in the API query. A default value `from=now` could be implemented as well.

Another challenge is how to implement `limit` to work well with `from`

[2015-06-10 11:09] andibraeu commented on #34
ok, thank you. from=now as default woud be great!

limit I would implement like this: first get all results with filters applied, then sort them and as last step do not return more results than the limit allows

[2015-06-10 11:10] andibraeu commented on #29
is it possible to display event details when I click on them?

[2015-06-10 11:11] zyzo opened #35 "Community timeline event info"
When the user clicks on an event, more detailed informations should be displayed, eitheir with a popup panel or a hover panel. The informations could be :
   - Start, end datetime
   - Summary
   - Description
   - Location
   -  ..

[2015-06-10 11:22] zyzo commented on #29
Yeah I had the same idea with event details. Please checkout issue #35

[2015-06-11 05:14] andibraeu commented on #35
other information:
* a link given to the event
* a link to the community itself (via API data)

[2015-06-11 06:58] andibraeu opened #36 "Generator: Move directory URL to config file"
now it's located in ffapi.js

[2015-06-11 09:12] zyzo opened #37 "Move community timeline to fossasia repo"
Should it be a standalone project or we can combine it to existing repos ?

[2015-06-11 09:20] zyzo commented on #34
@andibraeu after consideration I think it's best that `now` should be a valid value for parameter `from` (and `to`), but it shouldn't be the default. The reason is : if it's the default, there's no way from filter can be turned off. User could set from to a very old date, but it isn't elegant. So I'll turn it off.

[2015-06-12 10:46] andibraeu commented on #37
where can I find the code? could be a good idea to have an own repo, but I'll take a look on the code first

[2015-06-12 11:02] zyzo commented on #37
Hi Andi, the repo is here https://github.com/zyzo/EventsPanel, under Timeline folder. What's the benefit of own repo ? I think that combined repo is better to centralize development effort and easier to keep track of issues.

[2015-06-12 18:00] andibraeu opened #38 "Generator: make mapbox map design configurable"
see https://github.com/freifunk/api.freifunk.net/commit/2db04cd3a4b992ef933e20d56e7e52125048bcb6 for details

default value, when nothing is set should be {id}

[2015-06-13 15:43] #36 closed

[2015-06-13 15:43] #38 closed

[2015-06-13 15:46] andibraeu commented on #37
what do you exactly mean?

I would create a repo for EventsPanel, not just the timeline folder.

Do you have another suggestion? I.e. moving it to common.api.fossasia.net? I think we should use 1 repo for 1 product, else it's too complicated for commiting and versioning

[2015-06-13 15:55] andibraeu commented on #35
the panel already looks good.

there seem to be some minor problems:
1. the location is the location of the first item for every item
1. the event url is never set, it's inactive, but the text is shown

[2015-06-13 16:16] andibraeu commented on #33
works

[2015-06-13 16:16] #33 closed

[2015-06-13 16:30] andibraeu commented on #32
works

[2015-06-13 16:30] #32 closed

[2015-06-13 16:32] andibraeu opened #40 "Calendar API: Weird values in file head"
see http://api.fossasia.net/ics-collector/CalendarAPI.php?source=all&format=ics&from=now&sort=desc-start&limit=3

[code]

[2015-06-13 17:18] andibraeu commented on #34
works

[2015-06-13 17:18] #34 closed

[2015-06-13 17:19] andibraeu commented on #23
works

[2015-06-13 17:19] #23 closed

[2015-06-13 17:19] andibraeu commented on #25
works, it's fine like it is

[2015-06-13 17:19] #25 closed

[2015-06-13 17:20] andibraeu commented on #24
works

[2015-06-13 17:20] #24 closed

[2015-06-13 17:21] andibraeu commented on #10
I think we have enough ideas and tasks

[2015-06-13 17:21] #10 closed

[2015-06-13 17:22] andibraeu commented on #17
works great!

[2015-06-13 17:22] #17 closed

[2015-06-15 07:38] zyzo commented on #40
This is because the merger merge ics heads without unsetting anything. I will fix this so that only head values from config arrays will appear.

[2015-06-15 08:06] zyzo commented on #37
Som big projects use a unique central repo for different sub-projects. The main benefit I think is to regroup related products that are not very big in size (feed aggregator, mergedrss, collect community, ics-parser, merger). That make them easier to find and avoid to many small projects.

For example I could imagine the api projects ordered in 3 main folders : `service` (feed aggregator, mergedrs

[2015-06-15 08:18] zyzo commented on #35
The second bug is because not a lot of events have URL fields http://api.fossasia.net/ics-collector/CalendarAPI.php?source=all&from=now&sort=desc-start&fields=url. Seems like only the link to the community is widely available

[2015-06-15 09:37] zyzo opened #41 "Community timeline documentation"
how-to-use guide, library options and examples for community timeline #18

[2015-06-15 09:53] zyzo commented on #35
Fixed problem 1.

[2015-06-15 09:53] #35 closed

[2015-06-15 10:07] andibraeu commented on #37
In the past we had one big repo, at the end we decided to split it up:

* api: for specs and generator
* directory: the heart of the api
* cmap: the map as a central component
* feed: the rss merger
* common: for tools and smaller projects

cmap and feed are seperate repos to check them out and work with versions, we should add all sub repos to the api.fossasia.net README

I'll create a timeline r

[2015-06-15 10:07] #37 closed

[2015-06-15 10:08] zyzo commented on #40
Bug fixed. Could you please do an update to generate new ffMerged.ics ?

[2015-06-15 10:08] #40 closed

[2015-06-15 10:08] #31 closed

[2015-06-15 10:09] #28 closed

[2015-06-15 10:09] #29 closed

[2015-06-15 10:20] andibraeu commented on #40
looks good, ics will be merged every 50 minutes

[2015-06-15 10:48] zyzo commented on #40
Oh I see. Just for information, how often ffSummarizedDir.json is updated ?

[2015-06-15 11:03] andibraeu commented on #40
once an hour I think

[2015-06-15 11:42] zyzo commented on #13
Results :
 https://github.com/fossasia/common.api.fossasia.net/blob/master/ics-collector/lib/class.iCalReader.php
 https://github.com/fossasia/common.api.fossasia.net/blob/master/ics-collector/lib/ics-merger.php

[2015-06-15 11:43] #13 closed

[2015-06-15 11:43] #9 closed

[2015-06-15 11:43] zyzo commented on #9
the final front-end product is https://github.com/fossasia/timeline.api.fossasia.net

[2015-06-15 11:44] zyzo commented on #18
Timeline repo : https://github.com/fossasia/timeline.api.fossasia.net

[2015-06-15 22:55] zyzo commented on #26
I'm considering frisbyjs http://frisbyjs.com/

[2015-06-16 10:53] zyzo commented on #26
Tests added https://github.com/fossasia/common.api.fossasia.net/blob/319e94533c4920854e39a4472d429cd1de9472bd/ics-collector/tests/test_spec.js. This also performs a statistics analysis about the total number of events, and the number of events that have specific fields (start, end, location, url..).

Another interesting statistics to be retrieved by this suite is number of events per community. Th

[2015-06-17 09:57] #41 closed

[2015-06-17 09:57] #27 closed

[2015-06-17 09:57] #26 closed

[2015-06-17 09:58] zyzo commented on #18
Task do

[2015-06-17 09:58] #18 closed

[2015-06-17 10:13] zyzo opened #42 "Data for map filter by country"
The idea behind the map filter by country #19 is a selectable list of countries, that let users select to display only communities from one country or a limited set of countries. For this to be done we need :

    * the list of all asian countries that has registered communities.
    * country-community mapping
    * (optional) the map should be zoomed to the selected country. For each country, we

[2015-06-17 10:50] zyzo opened #43 "Map filter by country"
A selectable list that let users choose to display only communities from one country or from a subset of countries.

Sub-task of [#19](https://github.com/fossasia/api.fossasia.net/issues/19)

[2015-06-19 09:21] zyzo commented on #20
To display events, it's not possible to query the CalendarAPI at loading phase, because there are a lot of communities and it will be 1 api call per community. There are, as I know, two solutions to address this :

* store the events in `ffGeojson.json`
* embed the [timeline](https://github.com/fossasia/timeline.api.fossasia.net) as an `iframe` inside popup. That way it will only load when opened.

[2015-06-19 11:14] zyzo opened #44 "Add latest blog post to community map popup"
Display latest blog post via community rss feed

[2015-06-20 10:23] zyzo opened #45 "Loklak integration"
Analyze possible methods of importing api data into loklak server, and evaluate pros and cons of this integration.

[2015-06-23 11:19] zyzo opened #46 "Community map filter by technical area"
A filter that let users choose to display only technical fields that interest them : GNU, Linux, Ubuntu, Python, Ruby, Drupal, FOSS (general purpose community)...

The filter could be implemented either by extracting keywords from community names, or to add a new field into the api json. Strategy #1 will be implemented first for safety reason.

[2015-06-23 11:42] mariobehling commented on #43
How did you do it? Where can we test it? Please document a bit the progress and what technologies you are using. Any screenshot how it works?

[2015-06-23 11:43] mariobehling commented on #43
Does it run on github pages?

[2015-06-23 11:44] mariobehling commented on #46
This does not seem like a necessary feature and many communities have lots of different focus. It would probably work well for meetups. Let's move this issue to the back.

[2015-06-23 11:45] mariobehling commented on #46
@zyzo As we are progressing please let's improve on best practices. Please add milestones and assign issues etc. Cheers!

[2015-06-23 13:37] zyzo commented on #43
The information is available in community json file, it just needs to be copied in ffGeoJson.json, the aggregated file in geojson format that the cmap uses.

The technologies involved is leafletjs. The task is mainly done, however there are serious performance issues. Please refer to commit
https://github.com/fossasia/cmap.api.fossasia.net/commit/805caf06c3b6e43e50868a1b955fc391f8c9ce46
and
https:

[2015-06-23 14:08] zyzo commented on #43
Some screenshots :
* Selection panel at topright (no country selected)
![](http://etud.insa-toulouse.fr/~hadang/img/map1.png "Selection panel at topright")
* China selected
![](http://etud.insa-toulouse.fr/~hadang/img/map2.png "China selected")
* Multiple selection mode : China, Singapore and Vietnam selected
![](http://etud.insa-toulouse.fr/~hadang/img/map3.png "China, Singapore and Vietnam selec

[2015-06-23 14:19] zyzo commented on #43
TODO :

* fix performance problem
* a better way to render country selection list (input text field with auto-fill)
* zoom to country after selection (require #42)

[2015-06-24 09:09] mariobehling commented on #43
Ok, so let's consider this feature more in detail. We have a map here where we can zoom in to any place. Now with this feature we reduce the number of points shown in the map within a certain area. Why don't we just zoom in? The filter would probably be more useful for the table. Personally, I think not so many people will use it on the map. E.g. If I want to see communities in China I just zoom i

[2015-06-24 09:50] zyzo commented on #43
I think it could be more interesting if I convert the selector into an input text field with auto-fill support, and it would be cooler if the map automatically zooms to the selected country. We could have the selector update both the cmap and clist dynamically as well

[2015-06-24 10:58] zyzo opened #47 "Test environment of api.fossasia.net"
The FOSSASIA API repos are deployed here for testing purpose :

* http://cmap-fossasia-api.herokuapp.com
* http://common-fossasia-api.herokuapp.com
* http://feed-fossasia-api.herokuapp.com
* http://timeline-fossasia-api.herokuapp.com

Because there are some constraints with heroku deployment (user must be admin, php app must have an `index.php` at root) I cloned the repo from fossasia, and create

[2015-06-24 11:21] zyzo commented on #43
A demo : http://cmap-fossasia-api.herokuapp.com/

[2015-06-27 15:50] mariobehling opened #48 "Integrate Api with different services"
Let's look at the API from a user perspective. Communities or projects can add their info and we can collect the info. Now communities have different CMS running themselves or integrate with other services like github, loklak etc. How can we easily show maps or other data from within these systems. In a Wordpress a user wants to show a community map and center his project or community. The easiest

[2015-06-28 17:43] andibraeu opened #49 "wordpress plugin for community map"
Story: I want a plugin to install on wordpress. Via shortcode I want to embed the map on a page or a post. There should be the following option:

* an URL to an aggregated geojson-file (ffGeoJson.json)
* name my community. if set, this community should be centered and the popup opened

[2015-06-29 23:07] zyzo commented on #49
A new repository is created for this task : https://github.com/zyzo/fossasia-wordpress. Could you please  move this repo to fossasia ? This should be where all future fossasia wordpress plugins go.

[2015-06-30 07:37] zyzo commented on #44
Done. The end result could be seen here http://cmap-fossasia-api.herokuapp.com/

[2015-06-30 07:38] mariobehling commented on #49
@zyzo Please provide a 'real' plan: What exactly will you implement, what features, how will it look like, mockups etc.

Issue trackers are as usually located at FOSSASIA: https://github.com/fossasia/wp.api.fossasia.net

[2015-06-30 07:39] zyzo commented on #20
Added using embed timeline http://cmap-fossasia-api.herokuapp.com/

[2015-06-30 07:42] mariobehling commented on #44
Please implement all finished features on the map at fossasia.net and fossasia.github.net and close issues then.

I see that different communities have blog posts from another source. Why?

![screenshot from 2015-06-30 09 40 58](https://cloud.githubusercontent.com/assets/1583873/8426005/37c05456-1f0c-11e5-968a-7e1d9688e0b8.png)

![screenshot from 2015-06-30 09 40 43](https://cloud.githubuserconten

[2015-06-30 07:44] mariobehling commented on #20
Please provide a screenshot of the embedded timeline. I am not clear where can I find it. Which one is it?

[2015-06-30 07:47] mariobehling commented on #43
I am changing this to M3 for now as we need to think how to make use of this feature on the best possible way.

[2015-06-30 07:48] zyzo commented on #44
This is because not a lot of fossasia communities have ics feed yet, so the data used is from freifunk for demo purpose. This feature is currently more useful at freifunk given the dataset.

[2015-06-30 07:49] mariobehling commented on #44
Why do I need an ics feed? What about RSS?

Please show us a screenshot where this feature is implemented properly. Did you also add this to fossasia.github.io?

[2015-06-30 07:50] zyzo commented on #20
![screenshot from 2015-06-23 13 08 15](https://cloud.githubusercontent.com/assets/6483446/8426136/6c2dc84e-1f0d-11e5-8b38-ed6843131649.png)

[2015-06-30 07:51] mariobehling commented on #42
An integration with existing services could even give a more detailed view of communities, e.g. some communities have spaces in specific locations in a city. Let's see what makes sense and discuss this further. Moving it to M3.

[2015-06-30 07:52] zyzo commented on #44
Oh, OK, so we're mixing concepts here. The latest blog post feature is these 3 lines at the bottom of the popup.

![screenshot from 2015-06-23 13 08 15](https://cloud.githubusercontent.com/assets/6483446/8426164/b6ae82aa-1f0d-11e5-8cf2-ccf41d9d5c9c.png)

For the embed events, please refer to https://github.com/fossasia/api.fossasia.net/issues/20#issuecomment-117042273

[2015-06-30 07:53] mariobehling commented on #20
I don't understand what is it "July 17 and June 19"? It is from another community. How is this related to Novosibirsk?

[2015-06-30 07:55] zyzo commented on #20
This is because not a lot of fossasia communities have ics feed yet, so the data used is from freifunk for demo purpose. This feature is currently more useful at freifunk given the dataset.

[2015-06-30 07:56] mariobehling commented on #44
Ok, thank you. Now that we understand this. I think this feature has potential to be improved. Let's continue to work on this. Moving it to M2.5

How can we enhance this blog post view? Eg. Can you display one line of the actual blog article as well?

[2015-06-30 07:59] mariobehling commented on #20
Ok, thanks for the demo. Is it working in the freifunk map then? The show up of July 17 and July 19. I am confused by this demo as the same data shows up for all communities. A demo that would make more sense to me is, if every community had different data. Now, I do not know if it is always like that. Do we always have the same data for all communities or not? Another demo would make more sense t

[2015-06-30 08:06] zyzo commented on #49
IMPLEMENTED :

* Embed fossasia map, with following options :
   - width
   - height
   - geoJSONUrl

TODO :
* `name` option for embed map
* Upload the plugin to wordpress.org

Screenshot of the plugin inside a wp blog post :
![screenshot from 2015-06-30 10 04 24](https://cloud.githubusercontent.com/assets/6483446/8426388/9d86aa1c-1f0f-11e5-8a64-bb597ca69b88.png)

[2015-06-30 08:11] mariobehling commented on #49
How about
* widgets
* add your own community
* what else?

[2015-06-30 08:13] zyzo commented on #20
No I'm not saying that it's working at freifunk.

Normally importing developed features to freifunk is handled by @andibraeu, but surely I can clone the [freifunk repo](https://github.com/freifunk/cmap.api.freifunk.net) to integrate this feature and show a demo that might make more sense. Do you want me to do that ?

[2015-06-30 08:19] mariobehling commented on #20
yes, please. We want to see the cool stuff that comes out of it and test it in a real world setting.

[2015-06-30 08:22] zyzo commented on #48
FOSSASIA API Wordpress plugin : https://github.com/fossasia/wp.api.fossasia.net
Discussion : https://github.com/fossasia/api.fossasia.net/issues/49

[2015-06-30 08:26] mariobehling opened #50 "Add documentation to api.fossasia.org and all other related repos"
At the moment the Readme.md is in mixed languages - with different content partly.

Before progressing to implementing the next features, please consolidate the documentation.

1. api.fossasia.org is the main resource for setting up and should give an overview for all repos, feature and set up processes. Please include the following in the Readme.md:
* Api repositories, link to it, its purpose and

[2015-06-30 08:26] zyzo commented on #49
* embed community list
* auto-fill community input field
* [timeline](https://github.com/fossasia/timeline.api.fossasia.net)
* rss feed button
* statistic visualization (listed in milestone 3 https://github.com/fossasia/api.fossasia.net/issues/10#issuecomment-103698307)

[2015-06-30 08:28] mariobehling commented on #22
related to: https://github.com/fossasia/api.fossasia.net/issues/50

[2015-06-30 08:29] mariobehling commented on #49
How do you plan to implement it? What technologies is necessary? What resources exist?

[2015-06-30 08:42] mariobehling commented on #49
How can the generator be integrated in such a plugin?

[2015-06-30 08:43] zyzo commented on #49
I think first we need to filter what makes most sense to be added in the plugin. I think in the order of decreasing priority it could look like this :

  * add your own community
  * community timeline
  * rss feed
  * auto-fill community input field
  ...

My primary concern with developing plugins is code reuse. For the communy map I saw no other way than duplicating the js and css files from cm

[2015-06-30 08:46] zyzo commented on #49
This could be done easily with a shortcode returning <iframe> as well

[2015-06-30 08:50] mariobehling commented on #49
Not sure, what you envision here. The generator should be part of the plugin settings not of a page somewhere. If you mean that, i am d'accord.

[2015-06-30 08:53] mariobehling commented on #49
What is your idea for the flow of the plugin? What will the user be able to do? What is the user story? E.g. including:
* add their information in the generator
* link to submit their info to github
* show a map with shortcode on a page
* what else?

[2015-06-30 09:10] zyzo commented on #49
The idea is to embed the generator into wp page ? If it's the case, then the simple solution is having a shortcode returning \<iframe\> which points to http://api.fossasia.net/generator/index.html. Unless we want something more customized.

[2015-06-30 09:12] mariobehling commented on #49
As described. The generator should be part of the plugin settings.

[2015-06-30 09:18] mariobehling commented on #49
Before you start to work on this: Please provide mockups and get feedback. Also currently this plugin is in M3. Please finish remaining tasks from M2 and M2.5 first.

[2015-06-30 09:20] mariobehling commented on #49
Sorry did not intent to close it.

[2015-06-30 10:42] zyzo opened #51 "Merge freifunk maps"
The goal is to combine these two maps of freifunk communities and their wifi routers :

Corresponding repos :
https://github.com/ffansbach/de-map
https://github.com/freifunk/cmap.api.freifunk.net

[2015-06-30 10:46] mariobehling commented on #51
For the FOSSASIA communities this would be a possibility to include wifi communities in Asia, e.g. in Nepal and show some live data on a useful map.

[2015-06-30 12:12] mariobehling opened #52 "Deploy all features to fossasia.net github site"
* [ ] Implement FOSSASIA.net map as native map (compare fossasia.github.io)  https://github.com/fossasia/fossasia.net/issues/1
* [ ] Implement FOSSASIA.net community list as in fossasia.github.io  https://github.com/fossasia/fossasia.net/issues/3
* [ ] Implement FOSSASIA.net community calendar based on data from API  https://github.com/fossasia/fossasia.net/issues/2
* [ ] Add info about set up, ar

[2015-06-30 14:19] zyzo opened #53 "[Map popup] Handle error when events not found"
When integrating latest/upcoming event to community map popup #20, this is normally what it looks like :
![screenshot from 2015-06-30 16 13 50](https://cloud.githubusercontent.com/assets/6483446/8432956/6e488bc4-1f43-11e5-806e-a22479e3afbf.png)

But when the Calendar API doesn't find any result (community doesn't declare ics feed, or have no recent events), an empty panel is shown :
![screenshot f

[2015-07-01 08:13] zyzo commented on #53
There's not an easy fix since the timeline is embedded as an iframe. Solution : communicate between cmap - ctimeline via `window.postmessage` :

   * if there's is an error during first retrieval of api data (no api result), [embed.php](https://github.com/fossasia/timeline.api.fossasia.net/blob/71d8c5f0f3b0124095bd259554057b60f9595804/embed.php) will post a message `embed-timeline-error` to all it

[2015-07-01 08:15] #53 closed

[2015-07-01 08:21] zyzo commented on #20
Freifunk demo : http://etud.insa-toulouse.fr/~hadang/freifunk-api/cmap.api.freifunk.net/map.html

Some communities with data to test :
Events :

* Freifunk Wuppertal
* Freifunk 3Landereck
* weimarnetz

Blog posts :

* Freifunk Augsburg
* Freifunk Göttingen
* Freifunk Chemnitz e.V.

[2015-07-01 08:56] zyzo commented on #44
I added 1 line of blog content. Showcase updated on test environment

[2015-07-01 09:39] andibraeu commented on #20
Am Mittwoch, den 01.07.2015, 01:21 -0700 schrieb DANG HAI AN:

That looks really good. Unfortunately it doesn't work on firefox for
me. Can you test that please? For Weimarnetz an event from yesterday
shows up.

Two design issues:
* could you make a bulletin list of the recent blogposts?
* Could you reduce the width of the popup boxes if there's no event?
Did you try to set the events one below th

[2015-07-01 14:00] zyzo commented on #50
README files of all api projects updated, with information about setup & contribution. Could you please take a look & merge ?

[2015-07-01 14:19] zyzo commented on #20
me.

Could you specify what didn't work and how to reproduce it ?

shows up.

This is the expected behaviour, what I want is to display the latest event and the closest upcoming event. We could discuss whether to diplay just the upcoming events as well

I'll work on this

[2015-07-01 14:59] zyzo commented on #20
The demo is update with previous updates

[2015-07-01 20:34] mariobehling commented on #50
It looks like you added very basic info only.

* [ ] Please add more info about technologies and how it works all together on the main Readme file.
* [ ] Please also add info about how the component actually works e.g. here https://github.com/fossasia/feed.api.fossasia.net

[2019-12-23 17:19] sarthakpranesh opened #57 "Improper Readme.md format"
I noticed '##' in many places in the readme. There is something wrong with the markdown being used. If someone verfies it, I can fix it

[2019-12-23 18:08] #57 closed